@import url('https://fonts.googleapis.com/css?family=Lobster');
    body {
      font-family: 'Lobster', cursive;
      background-image: url('../Used-images/cup-cake-fondo.png');
      background-repeat: repeat-y;
      background-size: 100%;
      background-attachment: fixed;
      }
nav.navbar {
    background-color: #FF0033;
}
h2 {
  text-align: center;
  margin: 25px;
  font-size: 20px;
}
p {
  text-align: center;
}
